.payment-field {
	border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#cardNumber {
	max-width: 210px;
	margin-bottom: 10px;
}

#cardExpiration {
	max-width: 110px;
}

#cardCVC {
	max-width: 70px;
}

#zip {
	max-width: 90px;
	display: block;
	color: #31325F;
	line-height: 40px;
	font-weight: bold;
	font-size: 18px;
	&::placeholder {
		color: #CFD7E0;
	}
}

.processing-status {
	h5 {
		padding: 10px;
		background-color: var(--ion-color-secondary);
		font-weight: bold;
	}
}