:root {
  --ion-color-primary: #461D7C;
  --ion-color-primary-rgb: 70,29,124;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3e1a6d;
  --ion-color-primary-tint: #593489;

  --ion-color-secondary: #FDD023;
  --ion-color-secondary-rgb: 253,208,35;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #dfb71f;
  --ion-color-secondary-tint: #fdd539;

  --ion-color-tertiary: #235AA6;
  --ion-color-tertiary-rgb: 35,90,166;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #1f4f92;
  --ion-color-tertiary-tint: #396baf;

  --ion-color-success: #189218;
  --ion-color-success-rgb: 24,146,24;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #158015;
  --ion-color-success-tint: #2f9d2f;

  --ion-color-warning: #FDD023;
  --ion-color-warning-rgb: 253,208,35;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #dfb71f;
  --ion-color-warning-tint: #fdd539;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #999999;
  --ion-color-medium-rgb: 153,153,153;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #878787;
  --ion-color-medium-tint: #a3a3a3;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}